.conteudo { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo h2 {
    color: var(--cor-2);
}

.conteudo p, li {
    color: var(--cor-1);
}

.politica {
    width: 1050px;
    margin: auto;
}

.icon_politica {
    display: grid;
    width: 320px;
    margin-left: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 4px #00000069;
}

.conteudo h1 {
    padding: 20px;
    color: var(--cor-0);
    font-size: 2rem;
}

.caixa_missao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: center;
    justify-self: center;
    background-color: var(--cor-0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    animation: fadeIn 1s ease-out;
    box-shadow: 2px 2px 10px 10px var(--cor-0);
}

.missao_info {
    display: grid;
    justify-self: center;
}

.caixa_visao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: center;
    justify-self: center;
    background-color: var(--cor-0);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    animation: fadeIn 1s ease-out;
    box-shadow: 2px 2px 10px 10px var(--cor-0);
}

.visao_info {
    display: grid;
    justify-self: center;
}

.caixa_valores {
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: var(--cor-0);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    animation: fadeIn 1s ease-out;
    box-shadow: 2px 2px 10px 10px var(--cor-0);
}

.valores_info {
    display: grid;
    justify-self: center;
    width: 1050px;
}

.lista_valores {
    display: grid;
}


/* Adicione as propriedades de estilo para a animação de fade-in */
.caixa_missao, .caixa_valores {
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Adicione a classe visivel quando a caixa estiver visível */
  .caixa_missao.visivel, .caixa_valores.visivel {
    opacity: 1;
    transform: translateX(0);
  }

  .caixa_visao {
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Adicione a classe visivel quando a caixa estiver visível */
  .caixa_visao.visivel {
    opacity: 1;
    transform: translateX(0);
  }